/* 
    Document   : gradeEstimatorStyles
    Created on : Feb 14, 2013, 9:56:11 AM
    Author     : adam
    Description:
        This defines the styles for the grade estimator app
*/

    root { 
        display: block;
        }
    .item{
        width:10%;
        }

/* Course grade display */
    #courseGrade{
        text-align: center;
        }
    .bigGrade{
        font-size: 25px;
        font-weight:900;
        color: red;
        }
    .gradeLabel{
        font-size: 20px;
        font-weight:700;
        }

/* Assignments */
    .assignmentGradeLabel{
        font-size: 20px;
        font-weight:900;
        }